NEXT_PUBLIC_STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
NEXT_PUBLIC_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015

# Soroban Contract Addresses
NEXT_PUBLIC_SOROBAN_POOL_CONTRACT_ID=
NEXT_PUBLIC_SOROBAN_REGISTRY_CONTRACT_ID=
NEXT_PUBLIC_SOROBAN_TOKEN_CONTRACT_ID=
